#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#gameContainer {
    overflow: hidden;
    position: relative;
    width: 1000px; /* change according to your game */
    height: 500px; /* change according to your game */
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}


#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 1000px; 
    height: 500px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    z-index: 0;


}
/* add styles for other HTML elements of your game */

/* Health Bar Styling */
#health-bar {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 20;

  }

  #gameOverScreen {
    position: relative;
    display: block;
    z-index: 30;
    background-image: url('/images/backgroundCCL.png');

    background-size: cover;        /* Ensures the image covers the whole container */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents tiling the image */

    width: 1000px; /* change according to your game */
    height: 500px; /* change according to your game */
  }

  #gameOverButton{
    position: absolute;
    top: 50%;           /* Move to 50% from top */
    left: 50%;          /* Move to 50% from left */
    transform: translate(-50%, -50%); /* Offset by half its own width/height */
    padding: 10px 20px;
    background-color: rgb(110, 25, 25);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  #gameOverButton:hover{
    background-color: black;
    color: white;
  }





/*
  #gameFinishedScreen {
    position: relative;
    display: block;
    z-index: 30;
    background-color: red;

    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  

    width: 1000px; 
    height: 500px; 
  }

  #gameFinishedButton{
    position: absolute;
    top: 50%;         
    left: 50%;        
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgb(110, 25, 25);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  #gameFinishedButton:hover{
    background-color: black;
    color: white;
  } 

*/



  .heart {
    width: 30px;
    height: 30px;
    /* background: url('heart.png') no-repeat center/cover; */
    z-index: 20;
  }
  
  .hidden {
    display: none; /* Hide hearts when losing health */
  }
  