body {
  margin: 0;
  padding: 0;
  background: url('../images/pageBackground.jpg') no-repeat center center fixed; /* Replace with your background image */
  background-size: cover;
  overflow: hidden; /* Prevent unwanted scrolling if the image is large */
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#gameContainer {
    overflow: hidden;
    position: relative;
    width: 1000px; /* change according to your game */
    height: 500px; /* change according to your game */
   /* border: 2px solid #2e1701; Optional: Add a border to see the effect */
    border-radius: 10px; /* Adjust the value for more or less rounded corners */
}


.gameContainer-glow-red {
  box-shadow: 0 0 20px red;
  border: 2px solid red;
  animation: movingGlow 3s infinite;
}

@keyframes movingGlow {
  0% {
    box-shadow: -10px -10px 30px red, 10px 10px 30px rgb(132, 6, 2);
  }
  50% {
    box-shadow: 10px -10px 30px rgb(173, 13, 24), -10px 10px 30px rgb(255, 89, 0);
  }
  100% {
    box-shadow: -10px -10px 30px red, 10px 10px 30px rgb(118, 23, 14);
  }
}


#canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;

}


#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 1000px; 
    height: 500px;
    background-size: cover;
    z-index: 0;


}


/* Health Bar Styling */
#health-bar {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 20;

  }

/* Shuriken Bar Styling */
  #shuriken-bar {
    display: flex;
    gap: 5px;
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 20;

  }

  #gameOverScreen {
    position: relative;
    display: none;
    z-index: 30;
    background-image: url('/images/gamescreens/gameoverscreen.png');

    background-size: cover;        /* Ensures the image covers the whole container */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents tiling the image */

    width: 1000px; /* change according to your game */
    height: 500px; /* change according to your game */
  }

  #gameOverButton{
    position: absolute;
    top: 50%;           /* Move to 50% from top */
    left: 50%;          /* Move to 50% from left */
    transform: translate(-50%, -50%); /* Offset by half its own width/height */
    padding: 10px 20px;
    background-color: white;
    color: red;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  #gameOverButton:hover{
    background-color: red;
    color: white;
  }

  #storyScreen{
    display: none;
    position: relative;
    z-index: 30;
    background-image: url('/images/gamescreens/storyScreen.png');

    background-size: cover;        /* Ensures the image covers the whole container */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents tiling the image */

    width: 1000px; /* change according to your game */
    height: 500px; /* change according to your game */
  }

  #gameClearedScreen {
    position: relative;
    display: none;
    z-index: 30;
    background-image: url('/images/gamescreens/gamefinishedscreen.png');

    background-size: cover;        /* Ensures the image covers the whole container */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;  /* Prevents tiling the image */

    width: 1000px; /* change according to your game */
    height: 500px; /* change according to your game */
  }

#gameClearedButton{
    position: absolute;
    top: 50%;           /* Move to 50% from top */
    left: 45%;          /* Move to 50% from left */
    transform: translate(-50%, -50%); /* Offset by half its own width/height */
    padding: 10px 20px;
    background-color: rgb(110, 25, 25);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

#gameClearedButton:hover{
    background-color: black;
    color: white;
}

#gameStartScreen{
  position: relative;
  display: block;
  z-index: 40;
  background-image: url('/images/gamescreens/homescreen.png');

  background-size: cover;        /* Ensures the image covers the whole container */
  background-position: center;   /* Centers the image */
  background-repeat: no-repeat;  /* Prevents tiling the image */

  width: 1000px; /* change according to your game */
  height: 500px; /* change according to your game */
}

#gameStartButton{
  display: inline-block; /* or block */
  position: absolute;
  top: 65%;           /* Move to 50% from top */
  left: 75%;          /* Move to 50% from left */
  transform: translate(-50%, -50%); /* Offset by half its own width/height */
  padding: 20px 50px;
  background-color: rgb(110, 25, 25);
  color: white;
  border-radius: 5px;
  font-size: 28px;
  cursor: pointer;
  z-index: 41;

}

#gameStartButton:hover{
  background-color: white;
  color: green;
}

#startButton{
  display: inline-block; /* or block */
  position: absolute;
  top: 86%;           /* Move to 50% from top */
  left: 50%;          /* Move to 50% from left */
  transform: translate(-50%, -50%); /* Offset by half its own width/height */
  padding: 10px 25px;
  background-color: white;
  color: black;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  z-index: 41;

}

#startButton:hover{
  background-color: black;
  color: white;
}

  .heart {
    width: 30px;
    height: 30px;
    /* background: url('heart.png') no-repeat center/cover; */
    z-index: 20;
  }

  .shuriken {
    width: 30px;
    height: 30px;
    /* background: url('heart.png') no-repeat center/cover; */
    z-index: 20;
  }

  
  .hidden {
    display: none; /* Hide hearts when losing health */
  }
  